* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  min-height: 20vh;
  padding: 50px;
}

.container {
  display: flex;
  flex-direction: column;

}

.section {
  display: flex;
  min-height: 20vh;
}